server {

    listen 80;
    listen [::]:80;

    root {{ document_root }};

    # Index files
    index index.php index.html;

    server_name {{ host_name }}  www.{{ host_name }};

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    rewrite ^/app\.php/?(.*)$ /$1 permanent;

    location / {
        index app.php;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {

        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;

        include fastcgi_params;
        fastcgi_param   DOCUMENT_ROOT $realpath_root;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param   PATH_INFO $fastcgi_path_info;
        fastcgi_param   HTTPS off;
        #fastcgi_intercept_errors on;
    }

    location ~ \.php$ {
        return 404;
    }
}
